<h1>Tweets#index</h1>
<%= form_for @tweet do |f| %>
    <%= f.label :сѓ┐сѓ╣сѓ»тљЇ %>
    <%= f.text_field :title, :size => 40 %></br>
    <%= f.label :уиатѕЄ %>
    <%= f.date_field :time, :size => 140 %>
<%= f.submit "tweetсЂЎсѓІ" %>
<% end %>

<div class="tweet-container"%>
  <div class="item"%>
    <h1>сѓ┐сѓ╣сѓ»СИђУдД</h1>
    <% @tweets.each do |t| %>
      <div class="tweet">
      <%if (t.time - @today).to_i > -1 %>
        сѓ┐сѓ╣сѓ»тљЇ:<b><%= t.title %></b></br>
        уиатѕЄ:<%= t.time %></br>
        Т«Ісѓі:<%= t.time - @today).to_i %>ТЌЦ</br>
        <%= button_to 'Done', done_path(t.id), method: :post %></br></br>
    <% else %>
      <b><%= t.title %></b></br>
      уиатѕЄ:<%= t.time %>
      <%= (t.time - @today).to_i * -1 %>ТЌЦТюЪжЎљсЂїухїжЂјсЂЌсЂдсЂёсЂЙсЂЎ­Ъўі</br>
      <%= button_to 'Done', done_path(t.id), method: :post %></br></br>
    <% end %>
    </div>
  <% end %>
</div>
<div class="item"%>
<h1>т«їС║єсЂЌсЂЪсѓ┐сѓ╣сѓ»</h1>
    <% @tweets?done.each do |t| %>
     <div class="tweet">
       сѓ┐сѓ╣сѓ»тљЇ:<b><%= t.title %></b></br>
       т«їС║єТЌЦ:<%= t.done_at.strftime('%Y-%m-%d') %></br></br>
    </div>
    <% end %>
</div>
</div>